:root{
  --font-size: 1.2rem;
  --nav-background-color: hsl(300, 68%, 94%);
  --background-color: hsl(320, 40%, 90%);
  --text-color: hsl(325, 32%, 25%);
  --border-color: hsl(300, 33%, 47%);
  --icon-size: 40px;
  --icon-size-desktop: 35px;
  --font-size-desktop: 1.5rem;
  --pfp-size: 8rem;
  --pfp-size-desktop: 14rem;
}

html {
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-color);
  /* border: 1px solid red; */
}

body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: var(--nav-background-color);
  padding: 10px;
  margin: 0 0 30px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: block;
}

nav li a{
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  text-decoration: none;
}

.icon {
  font-size: var(--icon-size);
  text-decoration: none;
  color: var(--text-color);
}

.nav-text {
  display: none;
}

.spacer {
  display: block;
  padding: var(--icon-size) 0 var(--icon-size) 0;
}

main {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  justify-content: center;
  font-size: var(--font-size);
  margin: 8px;
  padding: 12px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 80%;
}

.form-wrapper h1, h2, h3 {
  font-size: var(--font-size);
  font-weight: normal;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="file"]{
  max-width: 90%;
  padding: 7px 0 7px 10px;
  /* top right bottom left */
  border: 1px solid var(--border-color);
  border-radius: 12px;
  font-size: var(--font-size);
}

.form input[type="submit"] {
  font-size: var(--font-size);
  padding: 10px;
  margin-top: 15px;
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 25px;
}

#descrtext {
  width: 100%; /* Take up the full width of its container */
  height: 200px; /* Set a default height */
  resize: vertical; /* Allow vertical resizing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 10px; /* Add padding to the textarea */
  font-size: 16px; /* Set font size */
  border: 1px solid var(--border-color);
  border-radius: 12px;
}

.postcontainer {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.text-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-wrap h1, h2 {
  font-size: var(--font-size);
  font-weight: normal;
}

.userdata {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.post {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
  padding: 15px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.pfp {
  width: var(--pfp-size);
  height: var(--pfp-size);
  border-radius: 50%;
  border: 2px solid #9090e9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

@media (min-width: 596px) {

  .icon {
    font-size: var(--icon-size-desktop);
    margin-bottom: 3px;
  }

  nav li a {
    align-items: center;
  }

  .nav-text {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 18px;
  }

  .form-wrapper {
    font-size: var(--font-size-desktop);
  }

  .form-wrapper h1, h2, h3 {
    font-size: var(--font-size-desktop);
  }

  .pfp {
    width: var(--pfp-size-desktop);
    height: var(--pfp-size-desktop);
  }

  .postcontainer {
    width: 100%;
  }
}